BasedOnStyle: LLVM
AccessModifierOffset: '-4'
AlignConsecutiveAssignments: 'true'
AllowShortFunctionsOnASingleLine: None
AlwaysBreakTemplateDeclarations: 'true'
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Linux
BreakConstructorInitializersBeforeComma: 'true'
ColumnLimit: '80'
DerivePointerAlignment: 'true'
IndentCaseLabels: 'true'
IndentWidth: '4'
Language: Cpp
PointerAlignment: Left
ReflowComments: 'true'
TabWidth: '4'
UseTab: Never